{% extends 'base.html' %}
{% block title %}
    Greeting Form
{% endblock title %}
{% block body %}

    <div class="container" style="padding:5%">
        <h1 class="text-center">Give your message </h1>
        <form autocomplete="off" name="form" method="post" action = "" class="form" onsubmit=" return validateform()">
            {% csrf_token %}
            <div class="form-group">
                <label for="name">Name : </label>
                <input type="text" class="form-control shadow-lg" id="name" name="name">
                <!-- <span><p>fill the Name</p></span> -->
            </div>
            <div class="form-group">
                <label for="msg">Message : </label>
                <input type="text" class="form-control shadow-lg" id="msg" name="msg">
            </div>
            <br>
            <button  class="btn btn-primary" id="form-btn">Submit</button>
        </form>
    </div>
{% endblock body %}
